@{
    ViewData["Title"] = "Mission13";
}

@model List<Bowler>

<div class="text-center">
    <h1 class="display-3">Bowling League</h1>
    <h1 class="display-4">Contact List</h1>

</div>


<table class="table table-bordered">

    <thead class="font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
            <td>Team ID</td>
            <td>Team Name</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var bowler in Model)   // use this to iterate through each of the instances in teh model(aka database)
        {
            <tr>
                <td>@bowler.BowlerFirstName @bowler.BowlerMiddleInit @bowler.BowlerLastName</td>
                <td>@bowler.BowlerAddress</td>
                <td>@bowler.BowlerCity</td>
                <td>@bowler.BowlerState</td>
                <td>@bowler.BowlerZip</td>
                <td>@bowler.BowlerPhoneNumber</td>
                <td>@bowler.TeamID</td>
                @*<td>@bowler.Team.TeamName</td>*@
                <td>Team name here</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-MovieId="@bowler.BowlerID">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-MovieId="@bowler.BowlerID">Delete</a></td>
            </tr>

        }
    </tbody>

</table>

